.wrapper {
  min-height: 100vh;
  height: 100%;
  background-color: black;
  color: white;
  background: rgb(55, 52, 52);
  background: linear-gradient(
    180deg,
    rgba(42, 40, 40, 1),
    rgba(29, 31, 32, 1) 38%,
    rgba(0, 0, 0, 1) 96%
  );
}
