.container {
  min-height: 100vh;
  padding: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/Images/homeplash.jpg");
  height: 100%;
}
.content {
  width: 100%;
  min-height: 90vh;
  padding-top: 4em;
  display: flex;
  height: 100%;
  /* overflow-y: auto; */
  /* justify-content: center; */
  flex-direction: column;
}
.header {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 10vh;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur {
  background: rgba(89, 16, 207, 0.2);
  backdrop-filter: blur(3px);
  object-fit: cover;
  overflow: none;
  height: 100%;
  min-height: 100vh;
}
.logo {
  font-size: 26px;
  text-shadow: white 0px 0px 10px;
  text-transform: uppercase;
}
.noPad {
  padding: none;
  margin-bottom: 0;
  margin-top: 0;
}
.indexLogo {
  text-align: center;
  color: white;
  margin-bottom: 2em;
  font-size: 28px;
}
.main {
  /* padding: 5rem 0; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.border {
  border: 1px solid gold;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  padding: 1em 1em;
  color: white;
}
.boxanswer {
  border: 2px solid gold;
  border-radius: 1em;
  padding: 1em 2em;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 16px;
}
.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.formdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stack {
  display: flex;
  flex-direction: column;
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxheader {
  color: white;
}
.setButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.setButt {
  margin: 1em;
  background: transparent;
  border: none;
  color: white;
  text-shadow: white 0px 0px 10px;
  text-transform: uppercase;
  font-size: 18px;
}
.pad {
  margin-top: 1em;
}
.formhead {
  font-size: 24px;
  color: white;
  text-shadow: white 0px 0px 10px;
  text-transform: uppercase;
}
.setButt:focus {
  outline: 0;
}
.put {
  font-size: 32px;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  text-align: center;
  width: 20%;
  color: white;
  background-color: transparent;
}
.formlabel {
  color: white;
  font-size: 18px;
}

.put:focus,
.put:focus {
  outline: none;
}
.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.textPara {
  font-size: 20px;
  color: white;
  text-shadow: white 0px 0px 10px;
  /* background: rgba(228, 226, 231, 0.2);
  backdrop-filter: blur(3px); */
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}
.spacer {
  margin-top: 4em;
}
.heroSpacer {
  /* border: 1px solid gold; */

  display: flex;
  justify-content: center;
}
.card {
  border: 3px solid gold;

  /* max-width: 480px;
  height: 490px; */
}
.cardsection {
  display: flex;
  justify-content: center;
  max-width: 420px;
}
.cardContainer {
  border: 3px solid gold;
  background: transparent;
  color: white;
  max-height: 360px;
}
/* .heroImg {
  border-radius: 50%;
  max-width: 50%;
} */
.circle {
  border-radius: 50%;
  height: 480px;
  width: 480px;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.cardText {
  padding-left: 1em;
}
.hero {
  border: white 1px solid;
  width: 50%;
}
.cardImage {
  width: 100%;
  height: 320px;
  object-fit: cover;
  overflow: hidden;
}
.text {
  color: white;
}
.patch {
  color: gold;
}
.image {
  width: 100%;
}
.textContainer {
  background: rgba(18, 79, 209, 0.2);

  backdrop-filter: blur(8px);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.calcFont {
  color: white;
  text-decoration-line: underline;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
