.container3 {
  min-height: 100vh;
  width: 100%;
  padding: 0 0;
  height: 100%;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/Images/Set3/splash2.jpg");
}
.container4 {
  height: 100%;
  overflow-y: auto;
  min-height: 100vh;
  width: 100%;
  padding: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/Images/Set4/yone.jpg");
}
.content {
  height: 100vh;
  background: rgba(1, 10, 31, 0.5);

  backdrop-filter: blur(3px);
}

.head {
  /* text-align: center;
  margin: 1em 0 1em 0;
  font-size: 48px;
  color: white; */
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
