.border {
  border: 1px solid green;
}
.calculate {
  color: white;
  background-color: black;
  margin-top: 1em;
}
.answer {
  border: 1px gold solid;
}
.stack {
  display: flex;
  flex-direction: column;
}
.formdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
